
/*This is the stylesheet for Crazy Bobs Pumpkin Patch */



html, body, header, nav, footer, dic, h1,h2,h3,h4,h5,h6, p,ul,li{
    margin:0;
    padding:0;
}


body{
background-color:#00274d;
font-family:'tahoma', san-serif;
color:#000000
}

div#container {
border:1px solid orange;
background-color:white;
width:1024px;
height:768px;
margin:auto;
}


div#container header{
background-color: bisque;
background-image: url(Mini_pumpkins.jpg);
background-repeat: no-repeat;
background-position: right center;
background-size: cover:
color:brown;
height:200px;
width:100%;   
text-align:center;
}

div#container header h1{
padding:80px;
color:darkslateblue;
text-shadow: 1px 1px black;
}


nav ul{
    list-style: :none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: black;
}
nav ul li{
float:left;
list-style:none;
}

nav ul li a {
display:block;
color:white;
text-align:center;
padding: 14px 16px;
text-decoration:none;
}

nav ul li a:hover {
background-color: orange;
}

.active{
background-color: orange;
}

div#content{
    display:block;
    width:1019px;
    height:460px;
    
}


img#alotofpumpkins{
    display:block;
    float:left;
    width:200px;
}

h2{
    float:left;
    clear:right;
    margin: 0 px;
    width:500x;
    
}

p{
    float:left;
    margin:10px;
    width:740px;
    
    
}

footer{
    padding-top:22px;
    width:200%;
    height:50px;
    color:white;
    background-color: black;
    text-align:center;
    
}
    img#CrazyBob{
        display:block;
        float:left;
        width:200px
    }

img#spice{
    display:block;
    float:center:
        width:200px
}

img#Squash{
    display:block:
    float:right-center;
    width:200px
}

/* About Page*/

div#col1{
    background-color:antiquewhite;
    width:50%;
    float:left;
    
}

div#col1{
    width:50%;
    float:right;
}

div#col2{
    display:block:
    float:left-center;
    width:200px;
}

div#col2{
    width:50%
    float:left;
    


}
img#LittleBob{
    display:block;
    float:right-center
}
/*  Gallery Page */
div#gallery{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
}

div#gallery .frame{
    background-color:bisque;
    border:2px solid black;
    float:left;
}

div#gallery .frame figcation{
    text-align: center;
    padding-bottom: 5px;
}

img.galleryimg{
    width:200px;
    height:150px;
    margin:5px 10px;
}

/* Contact */
form fieldset{
    background-color:lightgray;
}


form fiedlset legend{
    border:1px solid black;
    background-color:white;
    font-weight: bold;
}

form input{
    margin: 5px 0;
}

/* Keep Web Pages Open */
.keepOpen{
    clear:both;
}